body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;  /* Vertically centers the content */
    justify-content: flex-start;  /* Aligns content to the left */
    padding-left: 5%;  /* Padding from the left edge */
}

.text-center {
    width: 100%;
    max-width: 300px;  /* Adjusted width for smaller footprint */
    padding: 15px;
    border-radius: 10px;
    color: white;  /* Ensures text is legible against darker background */
    /*margin-top: 0.5vh;  !* Adjusts vertical positioning to not overlap important parts of the image *!*/
    margin-top: 0;  /* Adjusts vertical positioning to not overlap important parts of the image */
    text-align: center;
}

.gap {
    height: 10px;  /* Adds space between elements */
}


.subscription-quantity{
    background-color: rgba(248,238,181, 0.9); !important;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
}


.dropdown-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown, .dropdown input, .dropdown button {
    width: 100%;
    background-color: rgba(171,104,37, 0.8);  /* Semi-transparent background for inputs and buttons using color #B17029 */
    color: black;  /* Ensures text is legible against darker background */
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
    margin: 2px;
}

.dropdown-content button {
    margin: 2px;
    background-color: rgba(248,238,181, 0.9);  /* Slightly darker for dropdown items */
}

.table-dark {
    background-color: rgba(171,104,37, 0.8);  /* Semi-transparent red for table */
    margin-top: 10px;  /* Space between dropdown and table */
    border-radius: 15px;
    max-width: 300px;  /* Ensures table is not too wide */
    padding: 8px 15px;  /* Padding inside the table */
    border: 1px solid black;
}

.table-dark th, .table-dark td {
    padding: 8px;  /* Comfortable padding for readability */
}

.table-dark tr {
    border-bottom: 5px solid black;
}