<!DOCTYPE html>
<html lang="en">
<head>
	<title>Timer Controller</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>

<body class="dark" style="background-image: url('{{ url_for('static', filename='No_Name_Art/No_Name_ART_' ~ month ~ '.png') }}'); height: 100vh; background-size: cover;">
    <div class="text-center">
        <div class="dropdown-holder">
            <div>
                <div class="dropdown">
                    <button data-type="" data-unit="" id="subscription-type">NA</button>
                    <div id="subscription-type-holder" class="dropdown-content">
                        <button data-type="TwitchT1" data-unit="COUNT">Twitch Tier 1</button>
                        <button data-type="TwitchBits" data-unit="BITS">Twitch Bits</button>
                        <button data-type="StreamElements" data-unit="USD">Stream Elements Donation</button>
                        <button data-type="YTSuperChat" data-unit="USD">Youtube Super Chat</button>
                        <button data-type="YTMembership" data-unit="COUNT">Youtube Membership</button>
                        <button data-type="Afreeca" data-unit="BALLOONS">Afreeca</button>
                        <button data-type="CHZZK" data-unit="CHEESE">CHZZK</button>
                        <button data-type="SystemSeconds" data-unit="SECONDS">System Seconds</button>
                        <button data-type="SystemPoints" data-unit="POINTS">System Points</button>
                    </div>
                </div>
            </div>

            <br>

            <div>
                <label id="subscription-quantity-label" class="input-title" for="subscription-quantity">QUANTITY</label>
                <br>
                <div class="subscription-quantity">
                    <input id="subscription-quantity" class="select" type="text" placeholder="Quantity">
                </div>
            </div>

            <br>

            <div>
                <div class="dropdown">
                    <button id="add-subscription" class="save-inactive" onclick="ApplyButtonPressed()">ADD</button>
                </div>
            </div>
        </div>

        <br>

        <div id="apply-message" class="info-message no-select"></div>

        <br>

        <div id="history-block">
            <br>

            <table class="table-dark">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Subscription Type</th>
                        <th>Quantity</th>
                        <th>Seconds Worth</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody id="history-table">

                </tbody>
            </table>
        </div>
    </div>

    <template id="history-row-template">
        <tr>
            <th scope="row" class="history-row-count">..1</th>
            <td class="history-row-count">..2</td>
            <td class="history-row-quantity">..3</td>
            <td class="history-row-seconds">..4</td>
            <td class="history-row-points">..5</td>
<!--            <td><button class="undo-history">❌</button></td>-->
        </tr>
    </template>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
	<script src="/static/controller.js"></script>
</body>
</html>