<html>
<head>
	<title>Timer</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>

<body>
    <div class="TimerBox">
        <div class="Timer">
            <h1 id="timer">00:00:00</h1>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
	<script src="/static/main.js"></script>
</body>
</html>